@import '../../styles/variables.scss';

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  margin: 0;
  outline: none;
}

.card .icon {
  border-radius: 50%;
  height: 2rem;
  margin: 0 1rem 0 0;
  width: 2rem;
}

.card .card-image {
  max-height: 100% !important;
}

.card-action {
  border-top: 0 !important;
  padding: 0.5rem 0.5rem !important;
}

.card-action .card-title {
  display: -webkit-box;
  font-size: 1rem !important;
  font-weight: 500 !important;
  text-align: center;
  overflow: hidden;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}

.card-action .card-title:hover {
  color: grey !important;
}

.card-action p {
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.card-action-header {
  align-items: center;
  display: flex;
  margin: 0;
}

.channel {
  display: -webkit-box;
  overflow: hidden;
  text-transform: none !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}

.channel:hover {
  color: grey !important;
}

.status {
  border: 1px solid white;
  bottom: 5px !important;
  cursor: default;
  font-size: 1em !important;
  margin: 1rem 0.5rem;
  left: unset !important;
  padding: 0 0.5rem !important;
  right: 0 !important;
}

.tag {
  bottom: unset !important;
  cursor: default;
  font-size: 1em !important;
  margin: 0.5rem;
  padding: 0 0.5rem !important;
  top: 0;
}

.video-list {
  height: 250px !important;
  margin: 0 1rem 1rem 0;
  width: 280px !important;
}

.nijisanji,
.hololive,
.indie,
.mahapanca {
  padding: 3px 10px;
  color: white;
  border-radius: 3px;
}
.nijisanji {
  background-color: #2d4b70;
}
.hololive {
  background-color: #27c6fc;
}
.mahapanca,
.indie {
  background-color: black;
}

.dark {
  .card-action {
    background-color: darken($darkBackground, 5%);
    a,
    span,
    p {
      color: $darkTextColor;
    }
  }
}
