@import '../../styles/variables.scss';

/* mobile */
@media only screen and (max-width: 600px) {
  .hide-sidebar {
    bottom: -60px !important;
  }

  .sidebar {
    bottom: 0;
    height: 4rem;
    width: 100vw !important;
  }

  .sidebar-content {
    flex-direction: row !important;
  }

  .sidebar-item {
    height: 4rem;
  }

  .tooltip {
    display: none;
  }
}

/* desktop */
@media only screen and (min-width: 600px) {
  .hide-sidebar {
    left: -100px !important;
  }

  .sidebar {
    height: 100vh;
    left: 0;
    top: 0;
    width: 5rem;
  }

  .sidebar-item {
    height: 5rem;
  }

  .sidebar-item:hover .tooltip {
    left: 100%;
    opacity: 1;
    transform: scale(1);
  }
}

.dark {
  .sidebar {
    background-color: darken($darkBackground, 5%);
  }
}

.sidebar {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  transition: 300ms;
  z-index: 5;
}

.sidebar .icon {
  font-size: 2.5rem;
  transition: 300ms;
}

.sidebar-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.sidebar-item {
  position: relative;
  transition: 300ms;
  width: 100%;
}

.sidebar-item:hover {
  background-color: $primaryColor;
}

.sidebar-item:hover .icon {
  color: white;
}

.sidebar-link {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  outline: none;
  width: 100%;
}

.tooltip {
  background-color: $secondaryColor;
  border-radius: 1px;
  color: white;
  cursor: default;
  left: -50%;
  opacity: 0;
  padding: 0.3rem 0.5rem;
  position: absolute;
  transform: scale(0);
  text-align: center;
  top: 30%;
  transition: all 300ms;
  width: 100px;
}
