/* mobile */
@media only screen and (max-width: 600px) {
  .content-video {
    justify-content: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  transition: 300ms;
}

.content-video {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 300ms;
}

.home {
  transition: 300ms;
}

.nijisanji,
.hololive,
.indie {
  padding: 3px 10px;
  color: white;
  border-radius: 3px;
}
.nijisanji {
  background-color: #2d4b70;
}
.hololive {
  background-color: #5bd7e6;
}
.indie {
  background-color: black;
}
