/* mobile */
@media only screen and (max-width: 600px) {
  .content-video {
    justify-content: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  transition: 300ms;
}

.content-video {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 300ms;
}

.home {
  transition: 300ms;
}

.vim-notification {
  text-align: center;
}
