@import '../../styles/variables.scss';

@media only screen and (max-width: 600px) {
  table {
    font-size: 12px;
  }
}

/* desktop */
@media only screen and (min-width: 600px) {
  table {
    font-size: 14px;
  }
}

table {
  border: 1px solid black;
}

table tr:last-child td {
  border-bottom: 1px solid black;
}

table th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.dark {
  table {
    border: 1px solid $darkTextColor;
  }

  table tr:last-child td {
    border-bottom: 1px solid $darkTextColor;
  }

  table th,
  td {
    border-bottom: 1px solid $darkTextColor;
    border-right: 1px solid $darkTextColor;
  }
}
