@import '../../styles/variables.scss';

.switch label input[type='checkbox']:checked + .lever:after {
  background-color: $primaryColor;
}

.switch label input[type='checkbox']:checked + .lever {
  background-color: $secondaryColor;
}

input[type='checkbox']:checked:not(:disabled) ~ .lever:active::before,
input[type='checkbox']:checked:not(:disabled).tabbed:focus ~ .lever::before {
  -webkit-transform: scale(2.4);
  transform: scale(2.4);
  background-color: rgba(206, 147, 216, 0.4);
}

.settings {
  padding: 0 15rem;
  h1 {
    margin-bottom: 1em;
  }
}

.label,
.switch {
  display: inline-block;
}
@media only screen and (max-width: 600px) {
  .settings {
    padding: 0;
  }
}
