@media only screen and (max-width: 600px) {
  .chat {
    display: none;
  }
}

.background {
  filter: blur(0.8px);
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 150%;
}

.chat {
  background: transparent;
  border: 0;
  bottom: 0;
  color: white;
  position: absolute;
  right: 0;
}

.livebar-item {
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  height: auto;
  justify-content: center;
  margin: 0.1rem;
  overflow: hidden;
  padding: 0.5rem;
  position: relative;
  width: 100px;
}

.remove-item {
  z-index: 1;
}

.vtuber {
  border-radius: 50%;
  bottom: 0;
  height: 80%;
  position: absolute;
  top: 5px;
  width: auto;
}
