@import '../../styles/variables.scss';

@media only screen and (max-width: 600px) {
  .livecontrol .icon {
    font-size: 1.2rem;
  }

  .watchbar {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {
  .livecontrol .icon {
    font-size: 1.5rem;
  }

  .watchbar {
    margin: 0 0 0 5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .livebar {
    overflow-x: scroll;
  }
}

.dark {
  .watchbar {
    background-color: darken($darkBackground, 5%);
  }
  .icon {
    color: $darkTextColor;
  }
}

.hide-watchbar {
  margin: -100px 0 0 0;
}

.livebar {
  border-right: 1px solid black;
  display: flex;
  margin: 0 0.5rem 0 0;
  width: 90%;
}

.livebar-content {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.livecontrol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 150px;
}

.no-margin {
  margin: 0 !important;
  transition: all 300ms;
}

.scroll-vertical {
  overflow-x: scroll;
}

.show-watchbar {
  align-items: center;
  background-color: $primaryColor;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0.5rem 0.5rem 0 0;
  padding: 0 10px;
  position: absolute;
  right: 0;
  width: 50px;
}

.watchbar {
  display: flex;
  flex-direction: row;
  height: 100px;
  padding: 0.5rem;
  transition: all 300ms;
  background-color: #eee;
}
