@media only screen and (max-width: 1000px) {
  .livebar {
    overflow-x: scroll;
  }
}

.livebar {
  border-right: 1px solid black;
  display: flex;
  margin: 0 0.5rem 0 0;
  width: 90%;
}

.livebar-content {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.livecontrol {
  display: flex;
}

.livecontrol .icon {
  font-size: 1.5rem;
}

.scroll-vertical {
  overflow-x: scroll;
}

.watchbar {
  display: flex;
  flex-direction: row;
  height: 100px;
  padding: 0.5rem;
}
